.header{
    background: black;
    height: 6vh;
    width: 80vw;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
}
.header a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 10px;
}
.header a[class='active']{
    color: gold;
}
.headerLink:first-of-type{
margin-left: 40px;
}

.iconUser {
    margin-left: 40px;
}
