
.moviesListCardDiv {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    margin-left: 60px;
    grid-row-gap: 10px;
    margin-bottom: 50px;
}

.PaginationForMovieDiv {
    position: absolute;
    top: 231%;
    left: 40%;
}