.moviesListCard{
    height: 465px;
    width: 250px;
    /*border: 2px solid grey;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    /*background: grey;*/
}
.moviesPosterImg{
    height: 350px;
    width: 250px;
}
.moviesPosterImgDiv{
    height: 350px;
    width: 250px;
}
.moviesListCard p {
    font-size: 23px;
    color: gold;
    height: 50px;
}

.moviesListCard button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}
.moviesListCardDark p {
    color: black;
}